@page
@using Salmon.Models
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <h1>Welcome to your own Food map</h1>

    <form method="post">
        搜尋項目 :
        <input placeholder="飲料店" id="searchName" value="" required />
        <br />
        搜尋範圍(m) :
        <input placeholder="500" id="searchRadius" value="" required />
        <br />
        分數 :
        <input placeholder="4" id="searchRating" value="" required />
        <br />
        <input type="button" value="Submit" onclick="AjaxCall()">
    </form>

    <div id="out"></div>
    <div id="searchResult"></div>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8AdwlyUEKwmtWK8K9pS3_mcyUWeSfPek&callback=initMap&libraries=&v=weekly" async></script>
</body>

<script>
    var map, marker, lat, lng;

    function initMap() {

        navigator.geolocation.getCurrentPosition((position) => {
            lat = position.coords.latitude;
            lng = position.coords.longitude;
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: { lat: lat, lng: lng }
            });
            marker = new google.maps.Marker({
                position: { lat: lat, lng: lng },
                map: map
            });
        });
    }

    var output = document.getElementById("out");
    output.innerHTML = '<p>Latitude is : ' + position.coords.latitude + '° <br>Longitude is : ' + position.coords.longitude + '°</p>';
</script>

<script>
    function AjaxCall() {
        var Location = { Latitude: lat, Longitude: lng };
        var searchItem = { Name: document.getElementById('searchName').value, Radius: document.getElementById('searchRadius').value, Location: Location, Rating: document.getElementById('searchRating').value };

        $.ajax({
            type: "post",
            url: "Index?handler=SearchItem",
            data: { requestPlace: searchItem },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (result) {
                var searchResults = document.getElementById("searchResult");

                var info = "";

                result.forEach(function (item) {

                    info += `Name : ${item.name}<br>
                             Rating : ${item.rating}<br>
                             UserRatingsTotal : ${item.userRatingsTotal}<br>
                             Vicinity : ${item.vicinity} <br><br>`

                });

                searchResults.innerHTML = '<p>' + info + '</p>';

            }
        });
    }
</script>