@page
@using Salmon.Models
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <h1>Welcome to your own Food map</h1>

    <form method="post">
        搜尋項目 :
        <input placeholder="飲料店" id="searchName" value="" required="required" />
        <br />
        搜尋範圍(m) :
        <input placeholder="500" type="number" id="searchRadius" value="" required="required" />
        <br />
        分數 :
        <input placeholder="4" type="number" id="searchRating" value="" required="required" min="1" max="5" />
        <br />
        評論人數 :
        <input placeholder="4" type="number" id="searchUserRatingsTotal" value="" required="required" min="1"  />
        <br />
        <input type="button" value="Search" onclick="searchItem(false)">
        <br />
        <input type="button" value="RandomSelect" onclick="searchItem(true)">
    </form>

    <div id="out"></div>
    <div id="searchResult"></div>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8AdwlyUEKwmtWK8K9pS3_mcyUWeSfPek&callback=initMap&libraries=&v=weekly" async></script>
</body>

<script>
    var map, marker, latitude, longitude;

    function initMap() {

        navigator.geolocation.getCurrentPosition((position) => {
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;

            map = new google.maps.Map(document.getElementById('map'),
                {
                    zoom: 14,
                    center: { lat: latitude, lng: longitude }
                });

            var output = document.getElementById("out");
            output.innerHTML = '<p>Latitude is : ' + position.coords.latitude + '° <br>Longitude is : ' + position.coords.longitude + '°</p>';

            marker = new google.maps.Marker({
                position: { lat: latitude, lng: longitude },
                map: map
            });
        });
    }
</script>

<script>
    function searchItem(isRandomSelect) {
        var location = { Latitude: latitude, Longitude: longitude };
        var searchItems = { UserRatingsTotal: document.getElementById('searchUserRatingsTotal').value,Name: document.getElementById('searchName').value, Radius: document.getElementById('searchRadius').value, Location: location, Rating: document.getElementById('searchRating').value };

        $.ajax({
            type: "post",
            url: "Index?handler=SearchItem",
            data: { requestPlace: searchItems, isRandomSelect: isRandomSelect },
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function(result) {
                var searchResults = document.getElementById("searchResult");

                var info = "";

                result.forEach(function(item) {

                    info += `Name : ${item.name}<br>
                             Rating : ${item.rating}<br>
                             UserRatingsTotal : ${item.userRatingsTotal}<br>
                             <span style="display:none">PlaceId : ${item.placeId}</span>
                             Vicinity : ${item.vicinity}  <input type="button" value="Search" onclick="searchDetail('${item.placeId}')"><br><br>`;

                });

                searchResults.innerHTML = '<p>' + info + '</p>';
            }
        });
    }

    function searchDetail(placeId) {
        console.log(placeId);
        $.ajax({
            type: "post",
            url: "Index?handler=SearchDetail",
            data: { placeId: placeId },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (result) {
                console.log(result);
                alert(result);

            }
        });
    }
</script>