@page
@using Salmon.Models
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <h1>Welcome to your own Food map</h1>

    <form method="post">
        搜尋項目 :
        <input placeholder="飲料店" id="searchName" value="" required="required" />
        <br />
        搜尋範圍(m) :
        <input placeholder="500" type="number" id="searchRadius" value="" required="required" min="1" />
        <br />
        分數 :
        <input placeholder="4" type="number" id="searchRating" value="" required="required" min="1" max="5" />
        <br />
        評論人數 :
        <input placeholder="4" type="number" id="searchUserRatingsTotal" value="" required="required" min="1" />
        <br />
        營業中 :
        <input type="checkbox" id="searchIsOpenNow" value="IsOpenNow" />
        <br />
        <input type="button" value="Search" onclick="searchItem(false)">
        <br />
        <input type="button" value="RandomSelect" onclick="searchItem(true)">
    </form>
    <input type="button" value="GetDistance" onclick="GetDistance()">

    <div id="location"></div>
    <div id="newLocation"></div>
    <div id="searchResult"></div>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8AdwlyUEKwmtWK8K9pS3_mcyUWeSfPek&callback=initMap&libraries=&v=weekly" async></script>
</body>

